<footer id="footer">
  <div class="container">
    <ul class="soc-media-ul">
      <li>
        <a href="http://twitter.com" class="fa fa-twitter" target="_blank"></a>
      </li>

      <li>
        <a href="https://github.com/StanGC" class="fa fa-github" target="_blank"></a>
      </li>

      <li>
        <a href="https://tw.linkedin.com/in/stan-chen-920681114" class="fa fa-linkedin" target="_blank"></a>
      </li>

      <li>
        <a href="mailto:example@mail.com" class="fa fa-envelope"></a>
      </li>
    </ul>
  </div>
</footer>
